Notebook to edit CSV file containing data of Online Marketing Campaigns

In [1]:
# Importing Depencies

import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
# Reading File

file = pd.read_csv('Book1.csv')
file.head() # total of 377 rows of data

,company,department,brand,partner,campaign,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,1277,0.50,638.50,32,300.61,0.4708,47.1

In [3]:
# Formating 'campaign'

file.campaign.apply(str)
file.head()

,company,department,brand,partner,campaign,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,1277,0.50,638.50,32,300.61,0.4708,47.1

In [4]:
# Creating 'Campaign ID' column

file.insert(5, "Campaign ID", True)
file.head()

,company,department,brand,partner,campaign,Campaign ID,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,True,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,True,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,True,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,True,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,True,1277,0.50,638.50,32,300.61,0.4708,47.1

In [5]:
# Filling in 'Campaign ID' with respective code of 'Campaign'

file['Campaign ID'] = file['campaign'].str.split("-", 4).str[-1]
file.head()

,company,department,brand,partner,campaign,Campaign ID,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,1277,0.50,638.50,32,300.61,0.4708,47.1

In [6]:
# Creating 'Region' column

file.insert(6, "Region", True)
file.head()

,company,department,brand,partner,campaign,Campaign ID,Region,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,True,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,True,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,True,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,True,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,True,1277,0.50,638.50,32,300.61,0.4708,47.1

In [7]:
# Filling in 'Region' with respective code of 'Campaign'

file['Region'] = file['campaign'].str.split("-", 4).str[2]
file.head()

,company,department,brand,partner,campaign,Campaign ID,Region,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,BR,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,BR,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,BR,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,PT,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,BR,1277,0.50,638.50,32,300.61,0.4708,47.1

In [8]:
# Creating 'Language' column

file.insert(7, "Language", True)
file.head()

,company,department,brand,partner,campaign,Campaign ID,Region,Language,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,BR,True,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,BR,True,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,BR,True,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,PT,True,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,BR,True,1277,0.50,638.50,32,300.61,0.4708,47.1

In [9]:
# Filling in 'Language' with respective code of 'Campaign'

file['Language'] = file['campaign'].str.split("-", 4).str[1]
file.head()

,company,department,brand,partner,campaign,Campaign ID,Region,Language,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,BR,BR,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,BR,BR,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,BR,BR,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,PT,BR,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,BR,BR,1277,0.50,638.50,32,300.61,0.4708,47.1

In [10]:
# Replacing all 'BR' (Brasil) values to 'PT' (Portuguese) in 'Language' column

file['Language'].replace('BR', 'PT')
file.head()

,company,department,brand,partner,campaign,Campaign ID,Region,Language,leads,cpl,cost,nb_customer,CAHT,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,BR,BR,8142,0.25,2035.50,57,428.64,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,BR,BR,1730,0.40,692.00,28,242.79,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,BR,BR,117,0.50,58.50,1,4.59,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,PT,BR,381,1.25,476.25,1,27.36,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,BR,BR,1277,0.50,638.50,32,300.61,0.4708,47.1

In [11]:
# Deleting 'CAHT' column

file.drop(['CAHT'], axis= 1, inplace= True)
file.head()

,company,department,brand,partner,campaign,Campaign ID,Region,Language,leads,cpl,cost,nb_customer,renta_rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,BR,BR,8142,0.25,2035.50,57,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,BR,BR,1730,0.40,692.00,28,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,BR,BR,117,0.50,58.50,1,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,PT,BR,381,1.25,476.25,1,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,BR,BR,1277,0.50,638.50,32,0.4708,47.1

In [12]:
# Renaming all columns

new_file = file.rename(columns={'company': 'Company',\
                               'department': 'Geo Location',\
                               'brand': 'Brand',\
                               'partner': 'Partner',\
                               'campaign': 'Campaign',\
                               'leads':'Leads Generated',
                               'cpl': 'Cost Per Lead',\
                               'cost': 'Cost of Campaign',\
                               'nb_customer': 'New Customers',\
                               'renta_rate': 'Effectivenes Rate',\
                               'ROAS': 'ROAS'})
new_file.head()

,Company,Geo Location,Brand,Partner,Campaign,Campaign ID,Region,Language,Leads Generated,Cost Per Lead,Cost of Campaign,New Customers,Effectivenes Rate,ROAS
0,1830,NORTH,gaga-br-web,ABC,gaga - BR - BR - adc - id8,id8,BR,BR,8142,0.25,2035.50,57,0.2106,21.1
1,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza - PUSH - id17,PUSH - id17,BR,BR,1730,0.40,692.00,28,0.3509,35.1
2,1830,NORTH,gaga-br-web,AZA,gaga - BR - BR - aza1 - id16,id16,BR,BR,117,0.50,58.50,1,0.0785,7.8
3,1830,NORTH,gaga-br-web,CA,gaga - BR - PT - ca - id22,id22,PT,BR,381,1.25,476.25,1,0.0574,5.7
4,1830,NORTH,gaga-br-web,LA,gaga - BR - BR - la - id9,id9,BR,BR,1277,0.50,638.50,32,0.4708,47.1

In [15]:
new_file.to_csv('Final_file.csv', index = False, encoding='utf-8')